[Unit]
Description=serverstatus server service
After=network.target

[Service]
Type=simple
WorkingDirectory=${ServerPath}
ExecStart=python3 ${ServerFile}

[Install]
WantedBy=multi-user.target