[Unit]
Description=serverstatus clinet service
After=network.target

[Service]
Type=simple
WorkingDirectory=/usr/local/ServerStatus/client
ExecStart=python3 /usr/local/ServerStatus/client/status-client.py

[Install]
WantedBy=multi-user.target